@import helper._

@(feedForm: Form[CreateFeedForm])

@main("Welcome to Next") {
    <ul id="feeds"></ul>
    @form(routes.FeedsController.addFeed) {
        @inputText(feedForm("title"))
        @inputText(feedForm("summary"))
        @inputText(feedForm("summary_img_url"))
        @inputText(feedForm("src_id"))
        @inputText(feedForm("src_url"))
        @inputText(feedForm("service_name"))

        <div class="buttons">
            <input type="submit" value="Add Feed"/>
        </div>
    }
}
